.bat{
    transition: transform 0.2s ease-in-out;
}
.bat:hover{
    transform: rotate(-60deg);
    transform-origin: 100% 0%;
}
.ball{
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    left: 300px;
    transition: transform 1s ease-in-out 0.3s;
}
.field:hover .ball{
    transform: translate(300px,-150px);
}